@import "variables";

$clr-dirtRed: #b16448;
$clr-purple: #83528B;
$img-max-width: 500px;

.wholePage {
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, auto);
    isolation: isolate;
    overflow: hidden;
    width: 100%;
}

.imgContainer {
    position: relative;

    background-image: url("../imgs/hand-and-heart.jpg");
    width: 100%;
    height: calc(100vw * 1.2);
    max-width: $img-max-width;
    max-height: $img-max-width * 1.2;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1 / 2;
    margin-bottom: 2rem;
}

.title {
    position: absolute;
    top: 30%;
    right: 10%;
    color: white;
    text-transform: uppercase;
    background-color: $clr-purple;
    text-align: center;
    padding: 1rem;
    border-radius: 27% 73% 35% 65% / 53% 21% 79% 47% ;
    box-shadow: 2px 2px 3px 2px rgba($color: black, $alpha: .6);
}

.textContainer {
    grid-row: 2 / 3;
    mix-blend-mode: difference;
    color: $clr-dirtRed;
}

.canvas {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.3;
    pointer-events: none;
}

@media screen and (min-width: $break-large) {
    .wholePage {
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        height: 100vh;
    }

    .imgContainer {
        margin-bottom: 0;
        justify-self: flex-end;
    }

    .textContainer {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: center;
        mix-blend-mode: difference;
        font-size: 1.5rem;
    }

    .title {
        font-size: 3.5rem;
        top: 10%;
        right: 20%;
        width: 100%;
    }
}
