// break points
$break-small: 320px;
$break-large: 900px;
$break-medium: 675px;

// color
$clr-bg: #F9F6EA;
$clr-nav-bg: #A9BD61;
$clr-bubble-rose: #F26B1D;
$clr-bubble-grey: #D9D9D2;
$clr-bubble-green: #C3D973;
$clr-bubble-dark-green: #697322;
$clr-bubble-red: #F24130;
$clr-grey: rgb(99, 98, 98);
$clr-frame-brown: #8D6D5C;
$clr-oat-red: #C4826E;

// fonts
$font-text: 'Montserrat', sans-serif;
$font-title: 'Berkshire Swash', cursive;

$font-weight-bold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;

// button
$btn-size: 45px;


